## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
#A REFAIRE

# 1. Your code here
sample_list_1 = random.sample (range(0,100), 80) 
#unique_list= []
#for i in sample_list_1 
    #if i not in unique_list:
        #unique_list.append(i)
    #for i in unique_list:
        #print (i)
print (sample_list_1)
# def unique (sample_list_2)

[27, 42, 77, 72, 39, 9, 25, 31, 52, 5, 82, 45, 50, 65, 69, 74, 60, 58, 70, 38, 51, 12, 15, 89, 53, 93, 61, 40, 54, 44, 67, 86, 99, 85, 6, 48, 16, 35, 3, 7, 84, 46, 95, 49, 8, 37, 22, 62, 41, 78, 59, 18, 19, 1, 20, 17, 68, 36, 47, 90, 0, 75, 43, 88, 55, 73, 96, 56, 28, 11, 32, 66, 57, 33, 14, 10, 24, 30, 23, 87]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# A REFAIRE
# 2. Your code here
set1= set(sample_list_1)
print (len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [34]:
#A REFAIRE

# 3. Your code here
sample_list_2 = random.choices(range(100), k=80)

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
#A REFAIRE

# 4. Your code here
set2= set(sample_list_2)
print (len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# 5. Your code here
#for i in set1:
    #if i in set2:
        #print (i)
    #else:
        #print (i)
        
set3= set1-set2
print (set3)

{3, 5, 7, 8, 10, 11, 14, 17, 19, 24, 27, 28, 30, 36, 38, 39, 41, 42, 44, 46, 49, 56, 60, 61, 66, 67, 69, 75, 85, 87, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# 6. Your code here
set4= set2-set1
print (set4)

{64, 97, 2, 4, 76, 13, 80, 81, 83, 21, 29, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# 7. Your code here
set5= set1.intersection(set2)
print (set5)

{0, 1, 6, 9, 12, 15, 16, 18, 20, 22, 23, 25, 31, 32, 33, 35, 37, 40, 43, 45, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 62, 65, 68, 70, 72, 73, 74, 77, 78, 82, 84, 86, 88, 89, 90, 93, 95, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [11]:
# 8. Your code here
len(set3)= len(set1)-len(set2)
len(set4)= len(set2)-len(set1)
len(set5)= (len(set1)-len(set3)) + (len(set2)-len(set4))

SyntaxError: can't assign to function call (<ipython-input-11-8d47237bbf49>, line 2)

#### Create an empty set called `set6`.

In [12]:
# 9. Your code here
set6= {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
# 10. Your code here
for i in set1
    if i is in set1 ==: set6:
        print ('True')
    else:
        print ('False')

SyntaxError: invalid syntax (<ipython-input-13-9084058893f5>, line 2)

#### Check if `set1` and `set6` are equal.

In [14]:
# 11. Your code here
container = set2.issubset(set1)
print(container)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [19]:
# 12. Your code here
# Aggregation sets3, 4 and 5
sets34= set3.union(set4).union(set5)
#set345= set34.union(set5)

# Aggregation sets set1 and 2
set12= set1. union(set2)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [18]:
# 13. Your code here (convert in a list to remove the data) >>> A set doesn't have by nature a first element as its random
#Pas besoin de trier un dic par valeur, pas besoin d'ordonner
list_set1= list(set1)
removed_value= list_set1.pop(0)
print (removed_value)

0

#### Using the `pop` method, remove the first element from `set1`.

In [30]:
# Your code here (convert in a list to remove the data) >>> A set doesn't have by nature a first element as its random
#Pas besoin de trier un dic par valeur, pas besoin d'ordonner
list_set1= list(set1)
removed_value= list_set1.pop(0)
print ('removed_value')# 14. Your code here https://www.programiz.com/python-programming/methods/list/pop

removed_value

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [10]:
# Your code here 
set0= set(list_to_remove)
setlast= set1-set0